# Resources loader.

# Mock texture.
mock:res/sprites/mock.png

game_end:res/spritesheets/GAME-END.png:0:0:425:122
made_by:res/spritesheets/Made-by.png:0:0:425:122

# Ui texture.
ui_inventory_background:res/spritesheets/sprite_ui.png:1470:125:380:460
ui_skill_tree_background:res/spritesheets/sprite_ui.png:25:270:442:357
overlay:res/images/overlay.png
background:res/images/background.jpg
logo:res/images/logo.png
wasted:res/images/wasted.png
# Button backgrounds
button:res/spritesheets/buttons.png:0:80:320:80
button-focus:res/spritesheets/buttons.png:0:0:320:80
button-press:res/spritesheets/buttons.png:0:0:320:80

#Entity texture
hbar:res/spritesheets/healthbar.png:0:0:20:2
hbar-red:res/spritesheets/healthbar.png:0:2:20:2
sword:res/spritesheets/sword.png:0:0:1323:668
slime:res/spritesheets/slime.png
zombie:res/spritesheets/zombie.png
skeleton:res/spritesheets/skeleton.png

# Entity Display
slime-display:res/spritesheets/slime.png:0:0:64:64
zombie-display:res/spritesheets/zombie.png:0:0:33:64
skeleton-display:res/spritesheets/skeleton.png:0:0:30:64

# Player textures
player-spritesheet:res/spritesheets/player.png
player-status-s:res/spritesheets/sprite_ui.png:30:25:255:196
player-status-e:res/spritesheets/sprite_ui.png:341:25:91:196
player-pred:res/spritesheets/sprite_ui.png:287:36:26:54
player-pblue:res/spritesheets/sprite_ui.png:287:98:26:54
player-pgreen:res/spritesheets/sprite_ui.png:287:159:26:54
player-pempty:res/spritesheets/sprite_ui.png:315:159:26:54

# Bestiary
parchemin:res/images/parchemin.png

#Tiles textures
tile-grass:res/spritesheets/tileset.png:192:128:64:64
tile-brick-1:res/spritesheets/tileset.png:320:0:64:64
tile-brick-2:res/spritesheets/tileset.png:320:64:64:64
tile-house:res/spritesheets/tileset.png:256:128:64:64

tile-road-1:res/spritesheets/tileset.png:0:0:64:64
tile-road-2:res/spritesheets/tileset.png:64:0:64:64
tile-road-3:res/spritesheets/tileset.png:128:0:64:64
tile-road-4:res/spritesheets/tileset.png:0:64:64:64
tile-road-5:res/spritesheets/tileset.png:64:64:64:64
tile-road-6:res/spritesheets/tileset.png:128:64:64:64
tile-road-7:res/spritesheets/tileset.png:0:128:64:64
tile-road-8:res/spritesheets/tileset.png:64:128:64:64
tile-road-9:res/spritesheets/tileset.png:128:128:64:64

tile-road-10:res/spritesheets/tileset.png:192:0:64:64
tile-road-11:res/spritesheets/tileset.png:256:0:64:64
tile-road-12:res/spritesheets/tileset.png:192:64:64:64
tile-road-13:res/spritesheets/tileset.png:256:64:64:64

#Tile textures hover
tile-hover-grass:res/spritesheets/tileset.png:576:128:64:64
tile-hover-brick-1:res/spritesheets/tileset.png:704:0:64:64
tile-hover-brick-2:res/spritesheets/tileset.png:704:64:64:64
tile-hover-house:res/spritesheets/tileset.png:640:128:64:64

tile-hover-road-1:res/spritesheets/tileset.png:384:0:64:64
tile-hover-road-2:res/spritesheets/tileset.png:448:0:64:64
tile-hover-road-3:res/spritesheets/tileset.png:512:0:64:64
tile-hover-road-4:res/spritesheets/tileset.png:384:64:64:64
tile-hover-road-5:res/spritesheets/tileset.png:448:64:64:64
tile-hover-road-6:res/spritesheets/tileset.png:512:64:64:64
tile-hover-road-7:res/spritesheets/tileset.png:384:128:64:64
tile-hover-road-8:res/spritesheets/tileset.png:448:128:64:64
tile-hover-road-9:res/spritesheets/tileset.png:512:128:64:64

tile-hover-road-10:res/spritesheets/tileset.png:576:0:64:64
tile-hover-road-11:res/spritesheets/tileset.png:640:0:64:64
tile-hover-road-12:res/spritesheets/tileset.png:576:64:64:64
tile-hover-road-13:res/spritesheets/tileset.png:640:64:64:64